
#barra {
    margin-top: 10px;
    background-color:transparent;
}

body 
{
    background-color: #1e1c2a;

}

#barra .navbar-brand {
    color: rgb(255, 102, 0); 
    font-size: 35px;
}

#barra .navbar-nav a.nav-link {
    color: white; 
    font-size: 20px;

}


#primera {
    margin-left: 200px;
    margin-top: 150px;
    display: flex; 
}

#primera > div {
    margin-right: 20px; 
}

#primera > div > h1 {
    font-size: 80px;
    font-family:cursive;
    color: rgb(255, 102, 0);
}

#primera > div > h2 {
    color: white;
}

#primera > div > a {
    margin-top: 10px;
    font-size: 20px;
    background-color: rgb(255, 102, 0);
    color: white;
    transition: transform 0.3s, box-shadow 0.3s;
}
#primera > div > a:hover {
    transform: translate(2px, 2px); 
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3); 
}


#primera > div > img {
    margin-left: 80px;
}

#segunda {
    margin-left: 200px;
    margin-top: 250px;
    display: flex; 
}

#segunda > div > span {
    color: rgb(255, 102, 0);
    margin-left: 300px;
    font-family: fantasy;
    font-size: 25px;
}

#segunda > div > h1 {
    color:white;
    margin-left: 300px;
    
}

#segunda > div > p {
    color:white;
    font-size: 20px;
    text-align: justify;
    margin-left: 300px;
    white-space: pre-line;
}

#segunda > div > a {
    margin-top: 10px;
    margin-left: 300px;
    font-size: 20px;
    background-color: rgb(255, 102, 0);
    color: white;
    transition: transform 0.3s, box-shadow 0.3s;
}
#segunda > div > a:hover {
    transform: translate(2px, 2px); 
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3); 
}

#tercera {
    justify-content: center;
    align-items: center; 
    margin-top: 200px;
    display: flex;
    flex-direction: column; 
    text-align: center; 
}

#tercera > div > span {
    font-size: 25px;
    font-family:fantasy;
    color: rgb(255, 102, 0);
}

#tercera > div > h1 {
    color: white;
    margin-top: 10px; 
}

#op1 {
    margin-top: 100px;
    background-color: #f5e8d9; 
    color: black; 
}

#op1 .card-text {
    font-family:cursive; 
    font-size: 18px; 
    text-align: center; 
    margin: 0; 
}

#op2 {
    margin-top: 100px;
    background-color: #f5e8d9; 
    color: black; 
}

#op2 .card-text {
    font-family:cursive; 
    font-size: 18px; 
    text-align: center; 
    margin: 0; 
}

#op3 {
    margin-top: 100px;
    background-color: #f5e8d9; 
    color: black; 
}

#op3 .card-text {
    font-family:cursive; 
    font-size: 18px; 
    text-align: center; 
    margin: 0; 
}


#cuarta {
    justify-content: center;
    align-items: center; 
    margin-top: 200px;
    display: flex;
    flex-direction: column; 
    text-align: center; 
}

#cuarta > div > span {
    font-size: 25px;
    font-family:fantasy;
    color: rgb(255, 102, 0);
}

#cuarta > div > h1 {
    color: white;
    margin-top: 10px; 
}

#ser1 {
    margin-top: 100px;
    background-color: transparent; 
    color: white; 
}

#ser1 .card-text {
    font-family:cursive; 
    font-size: 18px; 
    text-align: center; 
    margin: 0; 
}

#ser2 {
    margin-top: 100px;
    background-color:transparent; 
    color: white; 
}

#ser2 .card-text {
    font-family:cursive; 
    font-size: 18px; 
    text-align: center; 
    margin: 0; 
}

#ser3 {
    margin-top: 100px;
    background-color: transparent; 
    color: white; 
}

#ser3 .card-text {
    font-family:cursive; 
    font-size: 18px; 
    text-align: center; 
    margin: 0; 
}

